li
{
	float: left;
	list-style-type: none;
	margin-left: 5px;
}
#main
{
	width: 550px;
	height: 500px;
}
#models
{
	margin: 20px auto;
	border-bottom: 2px solid #b8b8b8;
	height: 20px;
}
#clear
{
	clear:both;
}
fieldset
{
	width: 160px;
	float:left;
}
.hdd
{
	margin-top: -40px;
	margin-left: 60px;
}
.ram
{
	margin-left: 60px;
}
.procesor
{
	margin-top: -20px;
	margin-left: 75px;
}
legend
{
	margin-left: 15px;
}
#left
{
	width: 385px;
	border: 1px solid #b8b8b8;
	height: 300px;
	padding: 10px;
}
#right
{
	float: right;
	margin-top: -250px;
}
ul
{
	margin-left: 90px;
}